In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cities.csv')
df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,dikson,98,RU,1586555403,96,73.51,80.55,12.51,7.74
1,mahebourg,75,MU,1586554883,78,-20.41,57.70,79.00,13.87
2,pangobilian,29,PH,1586555403,76,8.80,117.86,79.65,4.47
3,kutum,0,SD,1586555404,14,14.20,24.67,71.33,9.82
4,vaini,40,TO,1586555404,69,-21.20,-175.20,78.80,8.05

In [4]:
df.to_html('cities.html', index=False)